// Helpers
.cols-sm-2 {
	@media screen and (min-width: breakpoint-min(sm)) {
		column-count: 2;
		column-gap: 2rem;
	}
}
.cols-md-2 {
	@media screen and (min-width: breakpoint-min(md)) {
		column-count: 2;
		column-gap: 2rem;
	}
}
.cols, .cols-lg-2 {
	@media screen and (min-width: breakpoint-min(lg)) {
		column-count: 2;
		column-gap: 2rem;
	}
}
.cols-md-3 {
	@media screen and (min-width: breakpoint-min(md)) {
		column-count:3;
		column-gap: 1rem;
	}
}
.cols-lg-3 {
	@media screen and (min-width: breakpoint-min(lg)) {
		column-count:3;
		column-gap: 1rem;
	}
}
.hidden {
	display: none;
}
ul {
	padding-left: 0;

	&.cols, &.cols-2, &.cols-3 {
		list-style-type: none;
		@media screen and (min-width: breakpoint-min(lg)) {
			padding-left: 1rem;
		}
	}
}
ul.arrow {
	list-style-position: inside;
	list-style-type: none;
	li {
		background: url('../svg/arrowrightlight.svg') left .35rem no-repeat;
		.white-bg & {
			background: url('../svg/arrowrightdark.svg') left .35rem no-repeat;
		}
		background-size: .5rem;
		padding-left: 1rem;
	}
}
ul.striped {
	& {
		list-style-type: none;
	}
	li {
		padding: .25rem .5rem;
		.primary-bg &:nth-of-type(even), .secondary-bg &:nth-of-type(even), .black-bg &:nth-of-type(even) {
			background: rgba(255,255,255,.1);
		}
		.white-bg &:nth-of-type(even) {
			background: rgba($brand-primary,.1);
		}
	}
}
hr.icon {
	margin: 3rem 0;
}

.btn {
	text-decoration: none !important;
	svg {
		height: 1rem;
		position: relative;
		top: .2rem;
		width: 1rem;
	}
	&.btn-primary {
		svg {
			fill: #FFF;
		}
	}
}

.depth-1 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.depth-2 {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.depth-3 {
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

// Overrides
abbr[data-original-title], abbr[title] {
	border-width: 0;
	text-decoration: none;
}
p + h3 {
	margin-top: ($spacer-x * 2);
}

// browser upgrade
.browserupgrade {
	background: $brand-primary;
	background: rgba($brand-primary, .9);
	box-shadow: 0 5px 0 0 rgba(0,0,0,.15);
	color: #FFF;
	padding: .5rem;
	position: fixed;
	text-align: center;
	top: 4rem;
	width: 100%;
	z-index: 10;

	p {
		margin: 0;
	}
	a {
		color: #FFF;
		text-decoration: underline;
	}
}
