.tastingroom-hours {
	.day, .hours {
		display: inline-block;
	}
	.day {
		width: 40%;
	}
	.hours {
		width: 60%;
	}
	@media screen and (min-width: breakpoint-min(sm)) {
		& + & {
			margin-top: 0;
		}
	}
}
.tastingroom-prices {
	@media screen and (max-width: breakpoint-max(sm)) {
		ul {
			margin: 0 -.9rem;
		}
	}
	
	.item, .price, .note {
		display: inline-block;
	}
	.item {
		width: 50%;
		@media screen and (min-width: breakpoint-min(sm)) {
			width: percentage(1/3);
		}
	}
	.price {
		.white-bg &, .primary-bg & {
			color: darken($brand-primary, 30%);
		}
		.black-bg &, .secondary-bg & {
			color: lighten($brand-primary, 20%);
		}
		text-align: right;
		@media screen and (min-width: breakpoint-min(sm)) {
			text-align: center;
		}
		width: 50%;
		@media screen and (min-width: breakpoint-min(sm)) {
			width: percentage(1/3);
		}
	}
	.note {
		color: rgba(255,255,255,.75);
		@media screen and (min-width: breakpoint-min(sm)) {
			text-align: right;
		}
		@media screen and (min-width: breakpoint-min(sm)) {
			width: percentage(1/3);
		}
	}
}